GOOGLE_CLOUD_PROJECT_ID=your-google-cloud-project-id
GOOGLE_SERVICE_ACCOUNT_EMAIL=translator-service@your-project.iam.gserviceaccount.com
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
ALLOWED_ORIGIN=https://your-domain.example
